<div>
    <h2 id="page-heading">
        <span jhiTranslate="schoolApp.pays.home.title">Pays</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pays" [routerLink]="['/pays/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="schoolApp.pays.home.createLabel">
            Create a new Pays
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pays?.length === 0">
        <span jhiTranslate="schoolApp.pays.home.notFound">No pays found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pays && pays.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="schoolApp.pays.nomPays">Nom Pays</span></th>
                    <th scope="col" ><span jhiTranslate="schoolApp.pays.superficie">Superficie</span></th>
                    <th scope="col" ><span jhiTranslate="schoolApp.pays.sigleAuto">Sigle Auto</span></th>
                    <th scope="col" ><span jhiTranslate="schoolApp.pays.capitale">Capitale</span></th>
                    <th scope="col" ><span jhiTranslate="schoolApp.pays.monnaie">Monnaie</span></th>
                    <th scope="col" ><span jhiTranslate="schoolApp.pays.continent">Continent</span></th>
                    <th scope="col" ><span jhiTranslate="schoolApp.pays.regroupementRegional">Regroupement Regional</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pays of pays ;trackBy: trackId">
                    <td><a [routerLink]="['/pays', pays.id, 'view']">{{ pays.id }}</a></td>
                    <td>{{ pays.nomPays }}</td>
                    <td>{{ pays.superficie }}</td>
                    <td>{{ pays.sigleAuto }}</td>
                    <td>{{ pays.capitale }}</td>
                    <td>
                        <div *ngIf="pays.monnaie">
                            <a [routerLink]="['/monnaie', pays.monnaie?.id, 'view']" >{{ pays.monnaie?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="pays.continent">
                            <a [routerLink]="['/continent', pays.continent?.id, 'view']" >{{ pays.continent?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="pays.regroupementRegional">
                            <a [routerLink]="['/regroupement-regional', pays.regroupementRegional?.id, 'view']" >{{ pays.regroupementRegional?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/pays', pays.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/pays', pays.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pays)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
