<div>
    <h2 id="page-heading">
        <span jhiTranslate="schoolApp.regroupementRegional.home.title">Regroupement Regionals</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-regroupement-regional" [routerLink]="['/regroupement-regional/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="schoolApp.regroupementRegional.home.createLabel">
            Create a new Regroupement Regional
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="regroupementRegionals?.length === 0">
        <span jhiTranslate="schoolApp.regroupementRegional.home.notFound">No regroupementRegionals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="regroupementRegionals && regroupementRegionals.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="schoolApp.regroupementRegional.sigle">Sigle</span></th>
                    <th scope="col" ><span jhiTranslate="schoolApp.regroupementRegional.nomRegroupement">Nom Regroupement</span></th>
                    <th scope="col" ><span jhiTranslate="schoolApp.regroupementRegional.pays">Pays</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let regroupementRegional of regroupementRegionals ;trackBy: trackId">
                    <td><a [routerLink]="['/regroupement-regional', regroupementRegional.id, 'view']">{{ regroupementRegional.id }}</a></td>
                    <td>{{ regroupementRegional.sigle }}</td>
                    <td>{{ regroupementRegional.nomRegroupement }}</td>
                    <td>
                        <div *ngIf="regroupementRegional.pays">
                            <a [routerLink]="['/pays', regroupementRegional.pays?.id, 'view']" >{{ regroupementRegional.pays?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/regroupement-regional', regroupementRegional.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/regroupement-regional', regroupementRegional.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(regroupementRegional)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
