<div>
    <h2 id="page-heading">
        <span jhiTranslate="schoolApp.regions.home.title">Regions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-regions" [routerLink]="['/regions/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="schoolApp.regions.home.createLabel">
            Create a new Regions
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="regions?.length === 0">
        <span jhiTranslate="schoolApp.regions.home.notFound">No regions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="regions && regions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="schoolApp.regions.nomRegion">Nom Region</span></th>
                    <th scope="col" ><span jhiTranslate="schoolApp.regions.chefLieu">Chef Lieu</span></th>
                    <th scope="col" ><span jhiTranslate="schoolApp.regions.pays">Pays</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let regions of regions ;trackBy: trackId">
                    <td><a [routerLink]="['/regions', regions.id, 'view']">{{ regions.id }}</a></td>
                    <td>{{ regions.nomRegion }}</td>
                    <td>{{ regions.chefLieu }}</td>
                    <td>
                        <div *ngIf="regions.pays">
                            <a [routerLink]="['/pays', regions.pays?.id, 'view']" >{{ regions.pays?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/regions', regions.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/regions', regions.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(regions)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
