<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="monnaie">
            <h2><span jhiTranslate="schoolApp.monnaie.detail.title">Monnaie</span> {{ monnaie.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="schoolApp.monnaie.monnaie">Monnaie</span></dt>
                <dd>
                    <span>{{ monnaie.monnaie }}</span>
                </dd>
                <dt><span jhiTranslate="schoolApp.monnaie.sigle">Sigle</span></dt>
                <dd>
                    <span>{{ monnaie.sigle }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/monnaie', monnaie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
